# ==========================================================
# BIBLIOTECAS PRINCIPAIS
# ==========================================================

# ==========================================================
# MATEMÁTICA E DADOS
# ==========================================================

numpy
pandas

# ==========================================================
# BANCO DE DADOS
# ==========================================================

sqlalchemy

# ==========================================================
# WEBSOCKET
# ==========================================================

websocket-client

# ==========================================================
# DASHBOARD FUTURO
# ==========================================================

plotly
streamlit

# ==========================================================
# MACHINE LEARNING FUTURO
# ==========================================================

scikit-learn
xgboost

# ==========================================================
# UTILITÁRIOS
# ==========================================================

python-dotenv